

<h1>This is my homepage</h1>


<p>Today is <strong><%= @today %></strong></p>



<%= link_to "Contact", contact_path %>
<%= link_to "About", about_path %>

<% %>
<!-- er + tab -->
<%= %>
<!-- pe + tab -->
